* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}


body {
  margin: 40px 40px
}

.field{
  margin: 10px 0;
}

.link {
  margin: 10px 0;
}


.top-title {
  margin: 40px 0;
}

.top-text > p {
  margin: 40px ;
}

.table-index {
  border-collapse: separate;
  border-spacing: 20px
}


.new {
  margin: 40px 0;
}



.show-text > p {
  margin: 30px;
}



/*送信ボタン*/
input[type = "submit"] {
  width: 100px;
  height: 30px;
}

/*タイトル入力フォーム*/
input[type = "text"] {
  width: 200px;
  height: 30px;
}

/*本文入力フォーム*/
textarea[name = "book[body]"] {
  width: 200px;
  height: 100px;
}


#notice {
  color: green;
  margin: 0 30px;
}