* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}


body {
  margin: 40px 40px
}

.input-field{
  margin: 10px;
}

.link {
  margin: 10px 0;
}


.top-title {
  margin: 40px 0;
}

.top-text > p {
  margin: 40px ;
}

.table-index {
  border-collapse: separate;
  border-spacing: 20px
}


.new {
  margin: 40px 0;
}



.show-text > p {
  margin: 30px;
}



/*送信ボタン*/
input[type = "submit"] {
  width: 100px;
  height: 30px;
}

/*タイトル入力フォーム*/
input[type = "text"] {
  width: 200px;
  height: 30px;
}

/*本文入力フォーム*/
textarea[name = "book[body]"] {
  width: 200px;
  height: 100px;
}


#notice {
  color: green;
  margin: 0 30px;
}


.error {
  width: 450px;
  border: solid 3px red;
  background-color: #f0f0f0;
}


.error-overview > h2 {
  font-size: 12px;
  color: white;
  background-color: red;
  padding: 5px 5px 5px 15px;
}

.error-detail {
  margin: 40px 50px;
  list-style: square;
  font-size: 12px;
}

.field {
  padding: 3px;
}


.error-field {
  padding: 3px;
  background-color: red;
  display: table;
}